{% extends 'base.html.twig' %}

{% block title %}Account creation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/register.css') }}">
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-12">

            <h1>Account creation</h1>

            <div class="form-wrapper">
                <form method="post">
                    <div class="step" data-step="1">

                        <div class="input-row">
                            <div class="input-wrapper">
                                <label for="inputFirstname">First Name*</label>
                                <input type="text" name="firstname" id="inputFirstname" class="form-control" required>
                            </div>
                            <div class="input-wrapper">
                                <label for="inputLastname">Last Name*</label>
                                <input type="text" name="lastname" id="inputLastname" class="form-control" required>
                            </div>
                        </div>

                        <div class="input-row">
                            <div class="input-wrapper">
                                <label for="inputAddress">Address*</label>
                                <input type="text" name="address" id="inputAddress" class="form-control" required>
                            </div>
                            <div class="input-wrapper">
                                <label for="inputPronouns">Pronouns</label>
                                <input type="text" name="pronouns" id="inputPronouns" class="form-control">
                            </div>
                        </div>

                        <div class="input-row">
                            <div class="input-wrapper">
                                <label for="inputEmail">E-Mail*</label>
                                <input type="email" name="email" id="inputEmail" class="form-control" required>
                            </div>
{#                            <div class="input-wrapper input-checkbox">#}
{#                                <input type="checkbox" name="publicEmail" id="checkboxPublicEMail" class="form-check">#}
{#                                <label for="checkboxPublicEMail">Public</label>#}
{#                            </div>#}
                        </div>

                        <div class="input-row">
                            <div class="input-wrapper">
                                <label for="inputPhone">Phone</label>
                                <input type="text" name="phone" id="inputPhone" class="form-control">
                            </div>
{#                            <div class="input-wrapper input-checkbox">#}
{#                                <input type="checkbox" name="publicPhone" id="checkboxPublicPhone" class="form-check">#}
{#                                <label for="checkboxPublicPhone">Public</label>#}
{#                            </div>#}
                        </div>

                        <div class="input-row">
                            <div class="input-wrapper">
                                <label for="inputPassword">Password*</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                            </div>
                            <div class="input-wrapper">
                                <label for="inputPasswordRepeat">Repeat Password*</label>
                                <input type="password" name="passwordRepeat" id="inputPasswordRepeat" class="form-control" required>
                            </div>
                        </div>

                        <button data-nextstep>
                            Continue
                        </button>
                    </div>
                    <div class="step d-none" data-step="2">

                        <div class="drag-and-drop-wrapper">
                            <img src="{{ asset('public/img/icons/pdf.svg') }}" alt="Drag and Drop your CV" width="29">
                            <span>Drag your PDF here</span>
                        </div>

                        <div style="margin: 28px 0; text-align: center">
                            OR
                        </div>

                        <div class="input-wrapper" id="cv-wrapper">
                            <label for="inputCV">Upload File</label>
                            <input type="file" name="cv" id="inputCV" value="CV File Upload" accept="application/pdf,application/vnd.ms-excel" required>
                        </div>

                        <button data-nextstep>
                            Continue
                        </button>
                    </div>
                    <div class="step d-none" data-step="3">

                        <div class="input-wrapper">
                            <label for="inputCurrentJob">Current Job Title</label>
                            <input type="text" name="currentJob" id="inputCurrentJob" class="form-control">
                        </div>

                        <div class="input-wrapper">
                            <label for="inputCurrentEmployer">Current Employer</label>
                            <input type="text" name="currentEmployer" id="inputCurrentEmployer" class="form-control">
                        </div>

                        <div class="input-wrapper">
                            <label for="inputMotivation">What motivates you?</label>
                            <textarea maxlength="255" name="motivation" id="inputMotivation" class="form-control"></textarea>
                        </div>

                        <div class="input-wrapper">
                            <label for="inputLookingFor">What are you looking for in a Job?</label>
                            <textarea maxlength="255" name="lookingFor" id="inputLookingFor" class="form-control"></textarea>
                        </div>

                        <button type="submit">
                            Finish
                        </button>
                    </div>
                </form>
                <div class="sidebar-wrapper">
                    <div class="dot active" data-dot-state="1"><span>1</span></div>
                    <div class="dot disabled" data-dot-state="2"><span>2</span></div>
                    <div class="dot disabled" data-dot-state="3"><span>3</span></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

        let current_state = 1;

        let dropContainer = $('.drag-and-drop-wrapper').get(0);

        dropContainer.ondragover = dropContainer.ondragenter = function (event) {
            event.preventDefault();
        };

        dropContainer.ondrop = function (event) {

            $('#inputCV').get(0).files = event.dataTransfer.files;

            event.preventDefault();
        };

        $('.drag-and-drop-wrapper').on('click', function (event) {

            event.preventDefault();

            $('#inputCV').click();
        });

        $('#inputCV').on('change', function () {

            let file_name = $('#inputCV').val().split('\\').pop();
            let $wrapper = $('.drag-and-drop-wrapper');

            $wrapper.find('> *').remove();

            $wrapper.append('<span>File uploaded<br/>' + file_name + '</span>');
            Notiflix.Notify.success('Your CV was successfully uploaded.');
        });

        $('[data-nextstep]').on('click', function (event) {

            event.preventDefault();

            let fields = $('.step[data-step="' + current_state + '"]').find('input:not([type="file"]):required, textarea:required');

            $.each(fields, (key, element) => {

                $(element).removeClass('error');

                if($(element).val() == '') {
                    $(element).addClass('error');
                }
            });

            if($('.step[data-step="' + current_state + '"]').find('input:required.error, textarea:required.error').length > 0) {
                Notiflix.Notify.failure('Please fill out all fields.');
                return false;
            }

            if(current_state === 1) {
                if($('#inputPassword').val() !== $('#inputPasswordRepeat').val()) {
                    Notiflix.Notify.failure('Passwords do not match.');

                    $('input[type="password"]').addClass('error');

                    return false;
                }
            }

            if(current_state === 2) {

                $('#inputCV').removeClass('error');

                if ($('#inputCV').get(0).files.length === 0) {

                    $('#inputCV').addClass('error');

                    Notiflix.Notify.failure('Please upload your CV.');
                    return false;
                }
            }

            current_state++;

            $('.step').addClass('d-none');
            $('.step[data-step="' + current_state + '"]').removeClass('d-none');

            $('.sidebar-wrapper .dot').addClass('disabled');
            $('.sidebar-wrapper .dot[data-dot-state="' + current_state + '"]').addClass('active').removeClass('disabled');
        });

        $('form').on('submit', function (event) {

            event.preventDefault();

            $('button[type="submit"]').addClass('disabled').attr('disabled', 'disabled');

            $.ajax({
                url: Routing.generate('api_v1_register'),
                method: 'POST',
                enctype: 'multipart/form-data',
                responseType: 'json',
                processData: false,
                contentType: false,
                cache: false,
                data: new FormData($('form').get(0)),
            }).then((response) => {

                if(response.error) {

                    $('button[type="submit"]').removeClass('disabled').removeAttr('disabled');
                    Notiflix.Notify.failure(response.msg);
                    return false;
                }

                Notiflix.Notify.success(response.msg);
            })
        })
    </script>
{% endblock %}