{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/login.css') }}?v=1">
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-12">

            <h1>Log in</h1>

            <div class="form-wrapper">
                <form method="post">

                    <div class="d-flex">
                        <div class="input-wrapper">
                            <label for="inputEmail">E-Mail</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="input-wrapper">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
