<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation instructions</title>
</head>
<body>
    <p>Welcome {{ firstname }} {{ lastname }}!</p>
    <p>You can confirm your account email through the link below:</p>
    <p><a href="#">Confirm my account</a></p>
</body>
</html>