@import '_variables.scss';

.job-list,
.job-informations {

  height: calc(100vh - 54px);
  position: relative;
}

.job-list {
  &:after {
    content: ' ';
    display: block;

    position: absolute;
    right: 0;
    top: 0;

    width: 1px;
    height: 100%;
    background-color: $gray;

    opacity: .5;
  }

  .job-entries {

    padding-right: 15px;

    .job-offer {

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }

      padding: 15px;

      cursor: pointer;
      border: 1px solid $gray;
      border-radius: 5px;

      .job-title {
        font-size: 18px;
        font-weight: 600;
      }

      .job-description {
        margin-top: 5px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;

        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.job-informations {
  &:not(.job-selected) {
    &:after {
      content: 'Please select a Job Offer.';

      display: block;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}