@import '_variables.scss';

[data-step="3"] > .input-wrapper:not(:last-of-type) {
  margin-bottom: 28px;
}

.form-wrapper {

  display: flex;
  justify-content: center;

}

form {

  .input-row {

    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 28px;
    }
  }

  .input-checkbox {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    padding-top: 20px;

    >input {
      width: auto!important;
      margin-right: 10px;
    }

    >label {
      font-size: 12px;
    }
  }

  .input-wrapper {

    &:not(:last-of-type) {
      margin-right: 28px;
    }

    input:not([type="checkbox"]),
    textarea {
      width: 250px!important;

      &.error {
        border-color: $red;
      }
    }
  }

  button {

    appearance: none!important;

    border: 1px solid $gray;
    border-radius: 5px;

    background-color: $white;

    color: $gray;

    margin-top: 28px;

    width: 100px;
    padding: 5px 0;

    text-align: center;

    &.disabled {
      pointer-events: none;
      opacity: .5;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}