@import '_variables.scss';

[data-step="3"] > .input-wrapper:not(:last-of-type) {
  margin-bottom: 28px;
}

.step {
  display: flex;
  flex-direction: column;
}

.form-wrapper {

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  max-width: 700px;
  min-height: 530px;
  margin: 0 auto;
}

form {

  .input-row {

    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 28px;
    }
  }

  .input-checkbox {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    padding-top: 20px;

    >input {
      width: auto!important;
      margin-right: 10px;
    }

    >label {
      font-size: 12px;
    }
  }

  .input-wrapper {

    &:not(:last-of-type) {
      margin-right: 28px;
    }

    input:not([type="checkbox"]),
    textarea {
      width: 250px!important;

      &.error {
        border-color: $red;
      }
    }
  }

  #cv-wrapper {

    display: flex;
    justify-content: center;

    input {
      display: none;
    }

    label {
      border: 1px solid $gray;
      color: $gray;

      padding: 10px 15px;
      border-radius: 5px;
      
      &:hover {
        cursor: pointer;
      }
    }
  }

  .drag-and-drop-wrapper {

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 25px;
    border: 1px solid $gray;

    margin: 0 auto;

    &.file-uploaded {
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
    }
    
    >span {
      color: $gray;
      margin-top: 15px;
    }
  }

  button {

    appearance: none!important;

    border: 1px solid $gray;
    border-radius: 5px;

    background-color: $white;

    color: $gray;

    margin-top: 28px;

    width: 100px;
    padding: 5px 0;

    text-align: center;

    &.disabled {
      pointer-events: none;
      opacity: .5;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 250px;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  >.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    position: relative;

    background-color: $white;
    border: 1px solid $gray;

    &:not(:last-of-type):after {
      content: ' ';
      display: block;

      position: absolute;
      left: 50%;

      top: 25px;

      transform: translateX(-50%);

      height: calc(250px / 3);
      width: 2px;

      background-color: $gray;
    }

    &.disabled {
      opacity: .5;
    }

    &.active {
      &:after {
        opacity: .5;
      }
    }

    > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: $gray;
    }
  }
}